
body{
    margin: 0px 15px;
    background-color: black;
    box-sizing: border-box;
}
html{
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  transition: transform 3s, opacity 2s;
}

.hidden {
  opacity: 0;
  transform: scale(0.8);
}
/*NavBar*/

.navbar{
   opacity: 0.8;
    background-color: black;
    z-index: 10;
}
.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease; /* Agrega una transición suave para el cambio de color */
}

/* Estilo de la barra cuando se desplaza hacia abajo */
.navbar.scrolled {
  background-color: black; /* Cambia "black" al color deseado cuando la barra se desplaza hacia abajo */
}
.collapse i{
    margin-right: 2rem;
    font-size: 30px;
    color: white;
}
.Logo-Pagina{
padding-left: 2rem;
width: 210px;
height: 70px;
}
.nav-link{
    padding-left: 2rem;
    color: white;
    font-size: 30px;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
/*Codigo OpenIo*/

a {
  text-decoration: none;
  color: #1E1E23;
  opacity:1;
  font-family: 'work sans', sans serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
}
a:hover {
  opacity:0.5;
}
ul {
  padding: 0;
  list-style-type: none;
}



.container {
  margin-top: 50px; 
  Display: flex;
  justify-content: center;
  align-items: center;
}


nav {
  background-color: black;
  opacity: 0.8;
  height: 65px;
}


#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
/*Cambiiar color dle menu*/
#menu
{
  position: absolute;
  width: 250px;
  height: 450px;
  box-shadow: 0 0 10px black;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #F5F6FA;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
/*Contacto de lista*/
#contactList{
  font-size: 13px;
  margin-left: 30px;
}
#contactList i{
  color: red;
  font-size: 20px;
}
/*Seccion roja*/
.seccion-roja {
    width: 100%;
    position: relative;
    height: 700px; /* Ajusta la altura según tus necesidades */

    z-index: -1;
  }
  video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

.imagen-fondo{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
}
.capa-superior {
    /* Estilos para el contenido o imagen encima de la imagen de fondo */
    /* Por ejemplo: */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Otros estilos como tamaño, color de texto, etc. */
  }
  /*Seccion Inferior*/
.seccion-inferior {
        width: 100%;
        height: 1200px;
        position: relative;
        margin-top: -11rem; /* Ajusta este valor según la distancia que desees entre ambas secciones */
      }
 
 .imagen-fondo2{
   
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*Fondo Blanco*/
        background-image: url('https://lh3.googleusercontent.com/pw/AIL4fc-3O6o4Lrg2yv91yZS1gxP65qzZTofvckdZ_3QrRQwe9AA3nUynFEVmwDjnnBlbaSYfL9_lyKXJxrD8Q1bqlNAxJD8NoMDidYpYYAelEFK8S0rvd04dEJ2coKnT3olteG7We8wHoh-2wbYoZYucIrCtlxb4hA0E0_GQAgikV3hWoT9pbNYDjhl6KK-kFIREDBWai4DWJgftvbzKikT-O-y6Jh24DNlVG-2XxkcpzqpZxvIjj_rbYU3cim4myNtuiCfqxCXbasnZHHko7zNr2DID_ZDRMZS2gYyzqz9AFLS7hysID7hJAng2pnJPfr7pb8k2wj9ZPBjRP5e04eXOji6o6R3TcPYBfn7Bi5Mqnj8K-JVGqnSveKphtNpJSRJuiBLvPE_5YvPvSFQX1oyWdCUqnJk8e8vC42sRLd08ctwTCAbbgJsi3I0DI9UY-PgHVC7KaMPwDT1o3j2UHsPj8PKdLsD4t9VFBfLS2NTAGn_EZCWz0fLg-iPaTm8D7RPiumkg14dsDduwCqJxRp_vTahfYAEP__7TCdHIKlbqL7bQ7nmRQFrEYcAkkM3fngykAvw0jhQAExsb4aF-0a4_GjHHUhb5P9qwUzpTvzVeYdI6_JmiLFE6KWFkYj_8ndYnwCixCTM1opjwDooJ_n6UqWtlLeGmZfOaU-DzV_p79uhCDF_RPJih36wj0JYH9QY04IvPo4BGgjkpfWdeBFvYhnyYt6hiTm414SolACJw2C2_HRYCYD8DSxulEF_z8qETurtwtYnSGvS4AsdF-YXxIwfL5Ij53W-vUI6DRPGQaFq_20w7UlFnKF3ihA1G_LGoltqftKPxP4pN8DtR09QdGLIwQbA1NfvCuIQ7kcw949ACBEwVS0u9FPOh7tkhjq7Cluu9hyaYZmBLgINdUaufSZEICg=w1175-h661-s-no?authuser=0');
        background-size: cover;
        background-position: center;
        z-index: -1;
    
 }
 .capa-superior2{
    position: absolute;

 }

.superior2-titulo{
    font-family: 'MedievalSharp', cursive;
    font-size: 50px;
    font-weight: bold;
    color: black;
}
.contenedor{
    margin-top: 13rem;
}
.fondo-blanco-titulo{
    font-family: 'MedievalSharp', cursive;
}
.row span{
    font-family: 'Roboto Slab', serif;
    color: #BF1E2E;
    font-size: 25px;
}
.row p{
    margin-top: 2rem;
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    color: black;
    font-size: 18px;
}
#imagen33{
    height: 100%;
    width: 100%;
}
#imagen34{
    width: 100%; 
    height: 100%;
 }
 .imagen-centrada{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
/* Seccion 3*/
.seccion-imagen-texto{
    width: 100%;
    position: relative;
    margin-top: -12rem;
    height: 500px; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    z-index: -1;
}
.imagen-fondo3{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://lh3.googleusercontent.com/pw/AIL4fc-uw6OqaR_J8P_HJzsc0WVhXu6ZGJ_xR1krlFMBKW6PYUzVcTWXIRBYIxfaTx9RYZGnyvNZtYlix2JrIu_slBvCl0OsQjhSLV30-E8-4saxw-r6eKSzgICWfx6vEjIwb83GWP67aKXTZBO-LG06OY41U7bpUsSvuqQHIBhaO5hEEIFkfaBtaQnYCCiMiWunZIuoSWBi7u0zI3BDh7ZGcPzzFntjmgdsAio2lOFa34czDNQZJjQ_mTw4Y9dLJaOpHcjCGc3p1DzCgh7mE7LjmT67oWck__iD7c-Vww0gfMBa6ix_WlnM-M91aCWWPDUBwCzpJjJC1tw-suaGk7iDIxqxlRKOY0EWgf-9FkUKP6PjiL2ogXc6aQe56PoFNoD5vDBDtxyK_RXcDhT1dn09iF8_1-ya5IJzGBdr4Fcr5u0Gl0L6shuJCc1Z99joC6BDUBpTatKtjQ34a_zKhHnwqFHU_itizY74KvsK9YQtUPE5yciSZrIZc7IL_aP8i3Vqj74L7wcJmzBc6VrnfEiSSW1Nj-fDbswCkypNRkqaGf-ruYiNrqvheW5mrFVb4NVWzVfKzlBa6ZKG3It5uPDyRg8Jwdwc82FVuf2HYlW-giH6n8s-dx1OouFO__vMA-qkjv3NowxMt7QzgE4kPtCL9GG4eOd0ooEGeV4MHi5h7XlI6ObLTQdQfuML7dFZJGXW1Xzk9RXcaMdp06VlNwYhiL7qFa6PJsgKcsrpb1Hj_iSOEhWNlx187JcooM9Ze96d260-F6UsHbC5Bvzxiv4iFYZ-j3a1Ar_6lxe3noaRvn76hD21bLsmyMDXUPvkYnmkybPQ2D2KvtOcKiMPrcD2t0cS7bdJIRDaY_97vOKbhUs1vKUWi9I1e_kfLqXjhQarpWT7VrdJwnRfNVNZzjWkFDVd6Q=w881-h661-s-no?authuser=0');
    background-size: cover;
    background-position: center;
    position: absolute;
}
.seccion-3-logo{
  width: 450px;
  height: 450px;
}
.capa-superior3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imagen3{
    width: 400px;
    height: 400px;
}
.BarraCelu{
    display: none;
}

/*Seccion 4*/
.contenedor-cuerpo span{
color: red;
font-size: 18px;
}







/*|||||||||||RESPONSIVIDAD||||||||||||||||||||*/
@media screen and (max-width:768px){
    .BarraCompu{
        display: none;
    }
    .BarraCelu{
        display:block;
    }
    .container{
   display: flex;

   justify-content: space-between;
    }
}
@media screen and (max-width:767px){
    .seccion-inferior {
        width: 100%;
        display: block ;
        height: 1400px;
        position: relative;
        margin-top: -11rem; /* Ajusta este valor según la distancia que desees entre ambas secciones */
      }
    .imagen-fondo2 img{
    width: 100%;
    height: 1400px;
     }
     #imagen33{
        height: 250px;
        width: 300px;
    }
     #imagen34{
        height: 65%;
        width: 50%;
     }
     .col-md-4{
    height: 200px;
     }
     body{
        margin: 0px 15px;
        width: 100%;
     }
           }
@media screen and (max-width:500px){
.imagen3{
    width: 300px;
    height: 300px;
}
}
         


